.venue_wrapper {

    .lincoln_main {
        padding: 10px 120px 40px;
    }

    .caro-river-sect {
        border: 1px solid #0000ff;
        box-shadow: 0px 0px 14px 2px #278cffbb;
        margin-bottom: 25px;
    }

    .flex-24 {
        flex: 68%;
        border: 1px solid #CCC9C9;
        border-radius: 20px;
    }

    .map-wid {
        width: 100%;
        height: 400px;
    }

    .lincoln-map-main,
    .lincoln-col-main {
        padding: 20px;
    }

    .buying-process {
        padding: 20px 50px;
    }

    .flex-24i {
        flex: 23%;
        margin-left: 15px;
        border: 1px solid #CCC9C9;
        border-radius: 20px;
    }

    .flex-25 {
        flex: 22%;
    }

    .flex-25i {
        flex: 22%;
        margin-left: 15px;
    }

    .flex-26 {
        flex: 45%;
        border-bottom: 1px solid #CCC9C9;
        padding: 8px 10px 23px;
    }

    .flex-26i {
        flex: 45%;
        border-left: 1px solid #CCC9C9;
        border-bottom: 1px solid #CCC9C9;
        padding: 8px 10px 23px;
    }

    .having-box2 {
        color: #2D26B4;
        padding: 10px 0px 20px;
    }

    .write-feature2 {
        display: inline-block;
        vertical-align: middle;
    }

    .buy-h2-lin {
        font-weight: bold;
        color: #0000ff;
        text-align: center;
    }

    .lin-ul {
        color: #7a7a7a;
        list-style: square;
        font-size: 17px;
        line-height: 180%;
        font-family: 'Roboto', sans-serif;
    }

    .lincoln-col-main2 {
        padding: 20px;
    }

    .form-lin {
        background-color: #f1f1f1;
        padding: 13px 13px;
    }

    .inp-lin-box {
        margin-bottom: 8px;
    }

    .inp-lin-box label {
        color: #768082;
        font-size: 14px;
    }

    .inp-lin-box input {
        color: #768082;
        background-color: #fff;
        padding: 5px;
        border: none;
        outline: none;
        width: 100%;
    }

    .submit-btn-lin {
        background-color: #0000ff;
        text-align: center;
        outline: none;
        border: none;
        padding: 10px;
        color: #fff;
        border-radius: 2px;
        font-size: 500;
        width: 100%;
    }

    .al-says-box {
        border-top: 1px solid #CCC9C9;
        padding-top: 20px;
        margin-top: 20px;
        text-align: center;
    }

    .strate-img-lin {
        width: 100%;
    }

    .al-img-lin {
        width: 60%;
        margin: 20px auto;
    }

    .al-ba {
        color: #0000ff;
        font-weight: bold;
    }

    .call-btn {
        width: fit-content;
        margin: 20px auto 0px;
    }

    .call-anc {
        color: #fff;
        text-decoration: none;
    }

    .call-wr {
        background-color: #61CE70;
        padding: 10px;
        border-radius: 4px;
        font-weight: 500;
        color: #fff;
    }

    .lin-p {
        color: #768082;
        font-family: 'Roboto', sans-serif;
    }

    .feature-h3 {
        color: #2756ff;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .icon-feature {
        display: inline-block;
        border: 3px solid #0000ff;
        text-align: center;
        border-radius: 100%;
        width: 38px;
        height: 38px;
        padding-top: 3px;
    }

    .write-feature {
        display: inline-block;
        vertical-align: bottom;
    }

    .purchase2 {
        color: #3C4347;
        font-weight: bold;
        font-size: 16px;
    }

    .price-numb2 {
        color: #41B71E;
        margin-top: 6px;
        font-size: 19px;
        font-weight: bold;
    }

    .project-rent2 {
        font-size: 15px;
    }

    .project-numb2 {
        font-weight: bold;
        margin-top: 6px;
    }

    .sec-row {
        margin-top: 18px;
    }

    .carousel-control-next {
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.7) !important;
        width: 70px !important;
        height: 70px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 45% !important;
        right: 2% !important;
        opacity: 1 !important;
    }

    .carousel-control-prev {
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.7) !important;
        width: 70px !important;
        height: 70px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 45% !important;
        left: 2% !important;
        opacity: 1 !important;
    }

    .venue_image{
        height: 520px;
    }
}