@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.88rem;
  color: #001e3c;
  letter-spacing: 0.25px;
  transition: all 0.3s ease-in-out;
}

.description_screen .breadcrumb-box {
  padding: 15px 40px;
}
.description_screen .flexcontainer {
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
}
.description_screen .flexcontainer-wid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.description_screen .flex-hall-1 {
  flex: 60%;
}
.description_screen .flex-hall-1i {
  flex: 30%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.description_screen .hall-main-name-box {
  padding: 20px 60px;
}
.description_screen .title-hall {
  font-size: 40px;
  color: lightblue;
  display: inline-block;
}
.description_screen .price-pkr {
  display: inline-block;
  border-left: 1px solid #c4c4c4;
  margin-left: 20px;
  padding: 0px 15px 10px;
  font-weight: bold;
  font-size: 18px;
}
.description_screen .bold {
  font-size: 32px;
  color: lightblue;
}
.description_screen .address {
  font-size: 18px;
}
.description_screen .call-btn {
  padding: 10px;
  color: #1a1a1a;
  text-align: center;
  background-color: lightblue;
  border: 2px solid lightblue;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  width: 130px;
  transition: 0.25s all ease;
  cursor: pointer;
}
.description_screen .call-btn:hover {
  background-color: #fff;
  transition: 0.25s all ease;
}
.description_screen .inquire-btn {
  padding: 10px;
  color: #1a1a1a;
  text-align: center;
  background-color: #fff;
  border: 2px solid lightblue;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  width: 130px;
  margin-left: 10px;
  transition: 0.25s all ease;
}
.description_screen .inquire-btn:hover {
  transition: 0.25s all ease;
  background-color: lightblue;
}
.description_screen .main-box-desc {
  padding: 40px 120px;
}
.description_screen .flex-desc-1 {
  flex: 25%;
}
.description_screen .flex-desc-1i {
  flex: 65%;
  margin-left: 30px;
}
.description_screen .flex-wid-desc {
  width: 24.8%;
}
.description_screen .btn-box {
  background-color: lightblue;
  color: #1a1a1a;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  transition: 0.3s all ease;
  cursor: pointer;
  border-bottom: 2px solid rgb(129, 201, 224);
}
.description_screen .btn-box:hover {
  color: #fff;
  transition: 0.3s all ease;
}
.description_screen .flex-desc-2 {
  flex: 65%;
}
.description_screen .flex-desc-2i {
  flex: 25%;
  margin-left: 30px;
}
.description_screen .map-desc,
.description_screen .map-box {
  width: 100%;
  height: 300px;
}
.description_screen .get-desc {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 10px;
}
.description_screen .sec-row {
  margin-top: 30px;
}
.description_screen .features-desc {
  margin-top: 30px;
}
.description_screen .feature-heading {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 10px;
}
.description_screen .flex-feature {
  flex: 30%;
}
.description_screen .flex-feature-i {
  flex: 30%;
  margin-left: 25px;
}
.description_screen .feature-name {
  font-size: 18px;
  font-weight: 500;
  margin-left: 3px;
}
.description_screen .feature-have {
  margin-top: 5px;
}
.description_screen .feature-have i {
  color: lightblue;
}
.description_screen .review-box {
  padding: 15px;
  border: 1px solid #c4c4c4;
  height: 250px;
}
.description_screen .icon-rev {
  background-color: green;
  border-radius: 100%;
  color: #fff;
  font-weight: bold;
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.description_screen .rev-name {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.description_screen .rev-title {
  font-size: 14px;
  font-weight: bold;
}
.description_screen .flag {
  width: 20px !important;
  display: inline-block !important;
}
.description_screen .rev-country {
  font-size: 10px;
  color: #929292;
}
.description_screen .rev-write {
  font-size: 14px;
  margin-top: 20px;
}
.description_screen .country-name {
  display: inline-block;
}
.description_screen .reviews-desc {
  padding: 20px 0px 0px;
}
.description_screen .owl-theme {
  position: relative;
}
.description_screen .owl-nav {
  position: absolute;
  top: 40%;
  width: 100%;
}
.description_screen .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -40px;
  background-color: #fff !important;
  font-size: 40px !important;
  width: 30px;
  height: 30px;
  border: 1px solid #d6d6d6;
  border-radius: 100%;
}
.description_screen .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -40px;
  background-color: #fff !important;
  font-size: 40px !important;
  width: 30px;
  height: 30px;
  border: 1px solid #d6d6d6;
  border-radius: 100%;
}
.description_screen .owl-carousel .owl-nav button.owl-prev:hover,
.description_screen .owl-carousel .owl-nav button.owl-next:hover {
  color: #000;
}
.description_screen .owl-theme .owl-dots {
  display: none;
}
.description_screen .owl-next span, .description_screen .owl-prev span {
  position: absolute;
  top: -75%;
  left: 27%;
}
.description_screen .faq-section {
  padding: 40px 20px;
}
.description_screen .faq-left-box {
  background-color: lightblue;
  padding: 25px;
  font-size: 24px;
  font-weight: bold;
  height: 100%;
}

.featured_wrapper .flexcontainer {
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
}
.featured_wrapper .flexcontainer-wid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.featured_wrapper .featured-sect {
  padding: 50px 130px;
}
.featured_wrapper .feature-h3 {
  color: #2756ff;
  font-size: 30px;
  margin-bottom: 20px;
}
.featured_wrapper .flex-3 {
  flex: 32%;
  border: 1px solid #CCC9C9;
  padding: 25px;
}
.featured_wrapper .flex-3i {
  flex: 32%;
  border: 1px solid #CCC9C9;
  padding: 25px;
}
.featured_wrapper .feature-img {
  width: 100%;
  margin-bottom: 20px;
}
.featured_wrapper .feature-name {
  color: #0000ff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
.featured_wrapper .having-box {
  font-family: "Roboto", sans-serif;
}
.featured_wrapper .flex-4 {
  flex: 45%;
  color: #0000ff;
}
.featured_wrapper .flex-4i {
  flex: 45%;
  color: #0000ff;
  margin-left: 10px;
}
.featured_wrapper .icon-feature {
  display: inline-block;
  border: 3px solid #0000ff;
  text-align: center;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  padding-top: 3px;
}
.featured_wrapper .write-feature {
  display: inline-block;
  vertical-align: sub;
  margin-left: 5px;
}
.featured_wrapper .sec-row {
  margin-top: 18px;
}
.featured_wrapper .flex-5 {
  flex: 45%;
}
.featured_wrapper .flex-5i {
  flex: 45%;
  margin-left: 30px;
}
.featured_wrapper .purchase {
  color: #3C4347;
  font-weight: bold;
  font-size: 14px;
}
.featured_wrapper .price-numb {
  color: #41B71E;
  margin-top: 6px;
  font-weight: 500;
}
.featured_wrapper .purchase2 {
  color: #3C4347;
  font-weight: bold;
  font-size: 16px;
}
.featured_wrapper .price-numb2 {
  color: #41B71E;
  margin-top: 6px;
  font-size: 19px;
  font-weight: bold;
}
.featured_wrapper .flex-6 {
  flex: 45%;
}
.featured_wrapper .flex-6i {
  flex: 45%;
  margin-left: 30px;
}
.featured_wrapper .project-rent {
  font-size: 14px;
}
.featured_wrapper .project-numb {
  font-weight: 500;
  margin-top: 6px;
}
.featured_wrapper .project-rent2 {
  font-size: 15px;
}
.featured_wrapper .project-numb2 {
  font-weight: bold;
  margin-top: 6px;
}
.featured_wrapper .border-btm {
  padding: 10px 0px 15px;
  border-bottom: 1px solid #CCC9C9;
}
.featured_wrapper .flex-7 {
  flex: 45%;
}
.featured_wrapper .flex-7i {
  flex: 45%;
}
.featured_wrapper .cont-btn,
.featured_wrapper .more-btn {
  width: fit-content;
  margin: auto;
}
.featured_wrapper .more-anc,
.featured_wrapper .cont-anc,
.featured_wrapper .more-anc:hover,
.featured_wrapper .cont-anc:hover {
  text-decoration: none;
  color: #fff;
}
.featured_wrapper .more-wr {
  background-color: #0000ff;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
}
.featured_wrapper .cont-wr {
  background-color: #61CE70;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
}
.featured_wrapper .btn-sect-space {
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #CCC9C9;
  padding: 8px 0px;
}
.featured_wrapper .see-more-btn {
  width: fit-content;
  margin: 30px auto 0px;
}
.featured_wrapper .see-more-anc {
  text-decoration: none;
  color: #fff;
}
.featured_wrapper .see-more-wr {
  background-color: #2756ff;
  color: #fff;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 500;
}

.searchbox_wrapper .range_select_box {
  border: 1px solid #d7d7d7;
  background-color: #f1f1f1;
  padding: 20px 15px;
  box-shadow: 0 10px 31px 0 rgba(7, 152, 255, 0.09);
}
.searchbox_wrapper .flexcontainer-range {
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.searchbox_wrapper .inputs-range {
  width: 24%;
}
.searchbox_wrapper .inputs-range2 {
  width: 48%;
}
.searchbox_wrapper .inputs-range select {
  width: 100%;
  outline: none;
  border: 1px solid #eee;
  padding: 7px 10px;
  color: #768082;
}
.searchbox_wrapper .tabs-boxes select {
  width: fit-content;
  outline: none;
  border: none;
  padding: 7px 10px;
  color: #768082;
}
.searchbox_wrapper .range-opt {
  padding: 7px !important;
  border-top: 1px solid #eee !important;
}
.searchbox_wrapper .inp-range {
  width: 100%;
  outline: none;
  border: 1px solid #eee;
  padding: 7px 10px;
  color: #768082;
}
.searchbox_wrapper .inputs-range button {
  background-color: #2d60ff;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  text-align: center;
  color: #fff;
  outline: none;
  border: none;
}
.searchbox_wrapper .price-range-wr {
  font-size: 14px;
  color: #768082;
}
.searchbox_wrapper .clr-range {
  color: #2d60ff;
  font-weight: 600;
}

.filter_wrapper .tabs-prop {
  padding: 10px 15px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  background-color: #fff;
  box-shadow: 0 10px 31px 0 rgba(7, 152, 255, 0.09);
  margin: 25px 0px;
}
.filter_wrapper .tabs-boxes {
  display: inline-block;
}
.filter_wrapper .select-box-prop option {
  padding: 7px !important;
  font-size: 14px;
}
.filter_wrapper .list-icon {
  color: #768082;
  float: right;
  font-size: 20px;
  margin-top: 2px;
}
.filter_wrapper .tabs-boxes select {
  width: fit-content;
  outline: none;
  border: none;
  padding: 7px 10px;
  color: #768082;
}
.filter_wrapper .range-opt {
  padding: 7px !important;
  border-top: 1px solid #eee !important;
}

.venueshave_wrapper .flexcontainer {
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
}
.venueshave_wrapper .sec-row-econ {
  margin-top: 40px;
}
.venueshave_wrapper .flex-29 {
  flex: 30%;
  transition: 0.4s all ease;
}
.venueshave_wrapper .flex-29i {
  flex: 30%;
  margin-left: 30px;
  transition: 0.4s all ease;
}
.venueshave_wrapper .list-box {
  position: relative;
  height: 230px;
  overflow: hidden;
}
.venueshave_wrapper .list-prop-img {
  width: 100%;
  height: 230px;
  transition: 0.3s all ease;
}
.venueshave_wrapper .add-list {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: #eee;
  font-size: 14px;
}
.venueshave_wrapper .camera-list {
  position: absolute;
  bottom: 15px;
  right: 20px;
  color: #eee;
  font-size: 14px;
}
.venueshave_wrapper .location-name {
  color: #fff;
  background-color: #2d60ff;
  font-size: 20px;
  font-weight: bold;
  height: auto;
  min-height: 80px;
  padding: 10px 10px;
}
.venueshave_wrapper .list-wr-box {
  background-color: #f1f1f1;
  border: 1px solid #d7d7d7;
  height: auto;
  min-height: 210px;
  padding: 15px;
}
.venueshave_wrapper .list-price {
  color: #2d60ff;
  font-size: 24px;
  font-weight: 600;
}
.venueshave_wrapper .det-prop-list {
  font-size: 14px;
  margin: 10px 0px 20px;
  color: #768082;
}
.venueshave_wrapper .clr-list {
  color: #2d60ff;
}
.venueshave_wrapper .quantity-list {
  display: inline-block;
  font-size: 18px;
  margin-right: 15px;
  color: #768082;
}
.venueshave_wrapper .detail-btn-dum {
  text-align: right;
}
.venueshave_wrapper .det-btn-list {
  background-color: #f1bf7f;
  padding: 2px 5px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s all ease;
  border: 1px solid #f1bf7f;
}
.venueshave_wrapper .det-btn-list:hover {
  transition: 0.2s all ease;
  text-decoration: none;
  color: #f1bf7f;
  background-color: transparent;
  border: 1px solid #f1bf7f;
}
.venueshave_wrapper .list-anc-prop,
.venueshave_wrapper .list-anc-prop:hover {
  text-decoration: none;
  color: #768082;
}
.venueshave_wrapper .flex-29:hover,
.venueshave_wrapper .flex-29i:hover {
  transform: translateY(-4%);
  transition: 0.4s all ease;
  box-shadow: 0 10px 31px 0 rgba(7, 152, 255, 0.09);
}
.venueshave_wrapper .flex-29:hover .list-prop-img {
  transform: scale(1.08);
  transition: 0.3s all ease;
}
.venueshave_wrapper .flex-29i:hover .list-prop-img {
  transform: scale(1.08);
  transition: 0.3s all ease;
}
.venueshave_wrapper .pagination {
  margin: auto;
  width: 100%;
}
.venueshave_wrapper .pagination a {
  color: #2d60ff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid rgba(7, 152, 255, 0.09);
}
.venueshave_wrapper .pagination a.active {
  background-color: #2d60ff;
  color: white;
}
.venueshave_wrapper .pagination-box {
  margin: 40px auto 0px;
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
